* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

}

img {
  height: 100%;
  width: 100%;
  margin: 200px ;
  position: fixed;
  z-index: -1;
  position: fixed;

}


.pedra {
  background: rgb(0, 128, 51);
  font-size: 120px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.pedra:hover {
  opacity: 0.8;
  transition: 0.5s ease-in-out;
}

.tesoura {
  background: rgba(0, 166, 255, 0.947);
  font-size: 120px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.tesoura:hover {
  opacity: 0.8;
  transition: 0.5s ease-in-out;
}

.papel {
  background: rgba(255, 4, 0, 0.647);
  font-size: 120px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.papel:hover {
  opacity: 0.8;
  transition: 0.5s ease-in-out;
}

.butons {
  margin: 80px 0;
  display: flex;
  gap: 100px;
  border: 3px;
  font-size: 200px;
  border-radius: 10px;
  animation: title 4s linear infinite;

}


p {
  font-size: 40px;
  font-weight: bold;
  height: 35px 0;
  color: rgb(162, 255, 0);
  margin: 30px 0 0 30px;
  display: flex;
  justify-content: center;
  align-content: center;
}

 #myScore{
  
  color: rgb(0, 153, 255);
  justify-content: center;
  align-content: center;
}




#machineScore{
  color: rgb(165, 42, 42);
  justify-content: center;
  align-content: center;
}


.title {
  margin:50px 0;
  border: 3px;
  font-size: 80px;
  display: flex;
  justify-content: center;
  -webkit-animation: title 75s linear infinite;
  -moz-animation: title 10s linear infinite;
  -ms-animation: title 8s linear infinite;
  -o-animation: title 2s linear infinite;
  animation: title 1.1s linear infinite;

}



@keyframes title {
  0% {
    opacity: 4;
    color: rgb(183, 255, 0);

  }

  50% {

    opacity: 3;
    color: rgb(255, 0, 119);

  }

  100% {
    opacity: 2;
    color: rgb(49, 128, 0);

  }
}
